<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">

      <h1>Wowza 3.5</h1>

       <canvas height = "500" width="500" id="gameCanvas" ></canvas>

      <!-- QUICK CHAT DEMO-->
      <form id="demo" onsubmit="return false">
        <h5>Open this page in multiple tabs or browsers and type a message below</h5>
        <div id="chatlog"></div>
        <input id="myMessage" type="text" autocomplete="off">
      </form>

      <script type="text/javascript" src="test/test.js"></script>

    </div>


  </body>
</html>